body{
    background-image:url("../img3/fondo.jpg") ;
    background-size:cover ;
    background-attachment: fixed;
    color: white;
    margin: 0;
}
header{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    text-align: center;
}
h1,h2 {
    font-family: "Glegoo", serif;
}
nav{
    background-color: #222;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
nav li{
    margin: 0;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
}
nav a:hover{
    background-color: #444;
}
.contenedor{
    max-width: 1000px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.75);
}
